.footer {
  background-color: #bca0d3;
  padding: 20px;
  text-align: center;
  color: #f5f3fa;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 10px -2px 4px -1px,
    rgba(0, 0, 0, 0.14) 10px -4px 5px 0px,
    rgba(0, 0, 0, 0.12) 10px -1px 10px 0px;
}
