.timeLineContent {
  display: flex;
  &__item {
    display: flex;
    flex-flow: column;
    &--header {
      margin: 0;
      font-weight: bold;
    }
    &--subHeader {
      margin: 0px;
      font-style: italic;
    }
    &--text {
      margin: 0px;
      font-size: 15px;
    }
  }
}
